header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin:0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	cursor: pointer;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.titulo-principal {
	margin: 50px 0;
	text-align: left;
	padding-left: 20px;
	font-size: 40px;
	font-weight: bold;
}

#banner {
	width: 100%;
	height: 500px;
}

.principal {
	text-align: center;
	background: #CCCCCC;
	padding: 30px;
}

.titulo-centralizado {
	font-size: 25px;
	margin-bottom: 10px;
	font-weight: bold;
}

.descricao {
	font-size: 19px;
	margin-bottom: 10px;
}

strong {
	font-weight: bold;
}

.missao {
	font-size: 20px;
	margin: 15px 0;
}

em strong {
	color: #FF0000;
}

.descricao-final {
	font-size: 19px;
	margin-top: 10px 0;
}

.beneficios h3 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}

.beneficios {
	text-align: center;
	background: #FFFFFF;
	padding: 20px;
}

.lista-beneficios {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.itens {
	text-align: left;
	font-style: italic;
	list-style: disc;
	font-size: 17px;
}

.imagensbeneficios {
	width: 50%;
}

footer {
	text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}